<div bsModal #selectImageDialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'COLLECTION_PAGE.SELECT_IMAGE' | translate}}</h4>
        <button type="button" class="close" (click)="selectImageDialog.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <select class="form-control" [(ngModel)]="collection_id" (change)="changeCollection()">
              <option value="" disabled selected>{{'COLLECTION_PAGE.SI_COLLECTION' | translate}}</option>
              <option *ngFor="let coll of collections" [value]="coll.id" ng-reflect-value="1" >{{ coll.name | translate }}</option>
            </select>
          </div>
          <div class="form-group col-md-12" *ngIf="images.length > 0">
            <div class="row" id="FaceImages">
              <div class="col-md-3 col-default" *ngFor="let image of images">
                <div *ngIf="image.fileName">
                  <img class="img-thumbnail-list item" [src]="app_service.Based_URLs.imgs + image.fileName"
                       title="{{image.content}}" (click)="selectedImage(image.fileName)" />
                  <span>{{image.content}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="selectImageDialog.hide()"><i class="fa fa-close"></i> {{'APP.BUTTON_CLOSE'|translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

