<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-sm btn-success ml-0" (click)="proccess()">
        <i class="fa fa-file-o"></i> {{ 'APP.BUTTON_UPDATE' | translate }}
      </button>
    </div>
  </div>

  <div class="row" *ngIf="isLoadConfig">
    <div class="col-md-6 pt-0">
      <cfg-device-bg #cfgDeviceBg></cfg-device-bg>
    </div>

    <div class="col-md-6 pt-0">
      <cfg-device-header #cfgDeviceHeader></cfg-device-header>
    </div>

    <div class="col-md-6 pt-3">
      <cfg-hook #cfgHook></cfg-hook>
    </div>

    <div class="col-md-6 pt-3">
      <cfg-thank-page #cfgThankPage></cfg-thank-page>
    </div>

    <div class="col-md-6 p-3">
      <cfg-other #cfgOther [configs]="configs"></cfg-other>
    </div>
  </div>
</div>

