<div class="animated fadeIn">
  <div class="row">
    <div class="col-6">
      <h5>{{ 'SURVEY_PAGE.ACTIONS_IMPORT' | translate }}</h5>
    </div>
    <div class="col-6">
      <div class="btn-group float-right">
        <button type="button" class="btn btn-sm btn-danger" [routerLink]="'/survey/list'">
          <i class="fa fa-close"></i> {{ 'APP.UI_CANCEL' | translate }}
        </button>

        <button type="button" class="btn btn-sm btn-success" (click)="importSurveyTemplate()">
          <i class="fa fa-file-o"></i> {{ 'SURVEY_PAGE.ACTIONS_IMPORT' | translate }}
        </button>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <form class="form-horizontal">
          <!-- Importing steps -->
<!--           
          <div class="card-header form-header">
            <div class="config_step" (click)="configure_StepChange('FORM')">
              <span class="badge badge-pill badge-step" [ngClass]="{' step-active' : step=='FORM'}">
                <i class="fa fa-file-text-o"></i>
              </span>
              {{ 'SURVEY_PAGE.CHOOSE_TEMPLATE' | translate }}
            </div>

            <div class="separator"></div>
            <div class="config_step" (click)="configure_StepChange('PREVIEW')">
              <span class="badge badge-pill badge-step st" [ngClass]="{' step-active' : step=='PREVIEW'}">
                <i class="fa fa-play"></i>
              </span>
              {{ 'SURVEY_PAGE.SURVEY_PREVIEW' | translate }}
            </div>
          </div> 
 -->
          <!-- Select template form tab -->
          <div class="card-body" *ngIf="step=='FORM'">
            <div class="row survey-section">
              <!-- Select business field -->
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 control-label">{{ 'APP.BUSINESS_FIELD' | translate }}</label>
                  <div class="col-md-5">
                    <select class="form-control" name="business_field" [(ngModel)]="filtering_form.business_field" (change)="search()">
                      <option [ngValue]="null">{{ 'APP.SELECT_ALL' | translate }}</option>
                      <option *ngFor="let field of business_fields" [ngValue]="field.id">
                        {{ field.vn }} / {{ field.en }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Template list -->
              <div class="col-md-12">
                <table class="col-md-12 table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>{{ 'APP.UI_IDX_NUMBER' | translate }}</th>
                      <th>{{ 'APP.NAME' | translate }}</th>
                      <th>{{ 'APP.DESCRIPTION' | translate }}</th>
                      <th>#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of objects; index as $i">
                      <th>
                        <div class="drag-handle">
                          {{ $i + 1}}
                        </div>              
                      </th>
                      <td class="pointer" (click)="selectSurveyTemplate(obj.id)">{{ obj.name }}</td>
                      <td class="pointer" (click)="selectSurveyTemplate(obj.id)" (mouseover)="setToolTipContent(obj.description)">
                        <div [tooltip]="template_tooltip" placement="auto" containerClass="template-tooltip-class">
                          {{ obj.description | truncate : 100 : true }}
                        </div>
                      </td>
                      <td>
                        <div class="form-check form-check-inline options">
                          <input class="form-check-input" value="{{obj.id}}" id="{{obj.id}}" name="survey_template" type="radio" 
                            [(ngModel)]="selected_template"/>
                          <label class="form-check-label" for="{{obj.id}}">{{ 'APP.SELECT' | translate }}</label>
                        </div>
                      </td>  
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- html tooltip for template content -->
          <ng-template #template_tooltip>
            {{ 'APP.DESCRIPTION' | translate }}
            <div class="tooltip_container"> {{ template_description }}</div>
          </ng-template>

          <!-- Preview tab -->
          <div class="card-body" *ngIf="step=='PREVIEW'">
            <!-- Device direction options -->
            <div class="row survey-section">
              <div class="col-md-10">
                <!-- simulation area -->
                <div class="row">
                  <div class="col-md-12 survey-simulation" [ngClass]="preview_screen">
                    <iframe id="simulator_id" [src]="getFeedbackSimulatorURL()"></iframe>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row device_orientation">
                  <div class="form-group pointer" (click)="changeScreenDirection('portrait')">
                    <i class="fa fa-tablet fa-lg"></i>
                    {{ 'SURVEY_PAGE.PORTRAIT' | translate }}
                  </div>
                  <div class="form-group pointer" (click)="changeScreenDirection('landscape')">
                    <i class="fa fa-laptop fa-lg"></i>
                    {{ 'SURVEY_PAGE.LANDSCAPE' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>