.text-blue {
  color: #321FDB;
  font-weight: bold;
  font-size: 14px;
}
.search-area .title {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.search-area .btn-search {
  text-align: right;
}
.search-area .btn-search button {
  padding: 0;
  margin: 0;
  height: 30px;
}
.search-area .btn-search button i {
  border: 2px solid #321FDB;
  font-size: 12px;
  padding: 2px;
  margin-top: -4px;
}

.hr {
  margin: 0px 15px 20px 15px;
  max-width: calc(100% - 30px);
}
.card-body {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-search {
  height: 30px;
  width: 120px;
}

.report {
  /* display: contents; */
}