// For common styles
.btn-sm, .btn {
  margin: 0.25rem;
}

.infinite_scroll_container {
  height: 100%;
  // overflow: scroll;  
}

// Here for header styles
app-header {

  // background: #1dce6c !important;

  .btn-group {
    padding-right: 10px;
  }

  .btn-grey {
    color: #73818f;
    background-color: transparent;
    border-color: transparent;
  }  

  .navbar-toggler {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
  }

  .current_org {
    background-color: beige;
  }

  .dropdown-item {
    cursor: pointer;
    display: -webkit-box;
    max-width: 100vw;
  }

  .org_logo {
    width: 60px;
    padding: 5px;
    margin-right: 15px;
  }

  .org_logo img, i {
    max-width: 50px;
    max-height: 50px;
  }

  .navbar-brand-full, .navbar-brand-minimized {
    max-height: 90%;
    max-width: 90%;
  }

  @media (max-width: 767px) {
    .navbar-brand {
      display: none !important;
    }
  }  
}

// For welcome page
// .welcome_page {
//   background-color: rgb(29, 206, 108);
//   margin: 0px;

//   img {
//     max-width: 80vw;
//     max-height: 25%;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);    
//   }
// }

// For CS menu
.row_canceled {
  background-color: wheat;
}

// FOR TOAST MESSAGE
.toast-top-right {
  top: 60px !important;
}

.hr {
  height: 1px;
  border-bottom: 1px solid #E1E6EB;
}

.text-suggestion {
  font-size: inherit;
  color: red;
  font-style: italic;
}

.word-break {
  word-break: break-all;
}

.pointer, .cursor-pointer {
  cursor: pointer;
}

// Format to override coreui library
body {
  background-color: white;
}

.sidebar {
  color: #4F5D73;
  // background: none;
  background-color: white;
  border-right: 1px solid #c8ced3;
}

.sidebar .nav-link {
  color: #4F5D73;
}

.sidebar .nav-link.active {
  background-color: #321FDB !important;
  color: white !important;
}

.nav-link active {
  color: white;
}

// app-sidebar-minimizer:hover, .sidebar .sidebar-minimizer:hover, .sidebar .nav-link:hover {
//   background: #321FDB;
//   color: white !important;
// }

.sidebar .nav-title {
  color: #321FDB;
}

.sidebar .nav-link {
  background: none;
}

.sidebar-minimized .sidebar .sidebar-minimizer, .sidebar .nav-dropdown.open, .sidebar .sidebar-minimizer {
  background: none;
}

.sidebar .nav-dropdown.open .nav-link {
  color: #4F5D73; 
}

.nav-link.nav-link-success {
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
  background-color: white;
}

app-sidebar-minimizer:hover, .sidebar .sidebar-minimizer:hover, 
.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link:hover,
.sidebar .nav-link:hover {
  background-color: #20a8d8;
  color: white !important;
}

// app-sidebar-minimizer:hover, .sidebar .sidebar-minimizer:hover {
//   background: none;
//   color: #E1E6EB;
// }

.sidebar .nav-dropdown-items .nav-item a {
  padding-left: 40px;
}

.center_cell {
  text-align: center;
}

.actions .btn-group {
  width: 100%;
}

.dropdown-item i {
  color: #7f8285 !important;
}

// For survey management -> import page 
.template-tooltip-class {
  max-width: 500px !important;  
}

.template-tooltip-class .tooltip-arrow ::before {
  border-top-color: #321FDB !important;
}

.template-tooltip-class .tooltip-inner {
  max-width: 500px !important;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color:  #321FDB !important;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.tooltip.show {
  opacity: 1 !important;
}

.module-block {
  height: 300px;
}
.module-block .card-title {
  font-weight: normal;
  border-bottom: 2px solid #6164C1;
  padding-bottom: .75rem;
  margin-bottom: 1rem;
}
.module-block .card-title.progress-bar-warning {
  border-bottom: 2px solid #F2B776;
}

.ng-option {
  display: list-item !important;
}

/**
* For select tree component
*/
.surveytree_dropdown button {
  margin: 0 !important;
}

.device_header img {
  max-width: 100%;
  max-height: 160px;
}

.img-logo {
  max-height: 120px;
  max-width: 100%;
  cursor: pointer;
}

.item-align-bottom {
  position: absolute;
  bottom: 0;
  max-width: calc(100% - 29px);
}
