<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <!-- Welcome section - Time filter options -->
      <div class="row">
        <div class="col-sm-9">
          <table class="table dashboard">
            <tr>
              <td class="db-img"><img src="assets/img/dashboard/welcome.png"></td>
              <td class="db-hello"><h3 class="m-0">{{'DASHBOARD.HELLO' | translate}}, {{loginName}}!</h3></td>
            </tr>
            <tr>
              <td class="db-content pt-0 pb-0" colspan="2"><h5>{{'DASHBOARD.CONTENT' | translate}}</h5></td>
            </tr>
          </table>  
        </div>
        <div class="col-sm-3 d-none d-md-block">
          <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn" [(ngModel)]="time_range" btnRadio="Week" id="option1" (click)="changeFilter()">{{'DASHBOARD.SEARCH_WEEK' | translate}}</label>
            <label class="btn" [(ngModel)]="time_range" btnRadio="Month" id="option2" (click)="changeFilter()">{{'DASHBOARD.SEARCH_MONTH' | translate}}</label>
            <label class="btn" [(ngModel)]="time_range" btnRadio="Year" id="option3" (click)="changeFilter()">{{'DASHBOARD.SEARCH_YEAR' | translate}}</label>
          </div>
        </div>
      </div>
      <div class="hr"></div>

      <!-- Statistics by feedback status -->
      <div class="row mt-4">
        <div class="col-sm-5">
          <h6 class="card-title mb-2">{{'DASHBOARD.GENERATE_CHART_TITLE' | translate}}</h6>
        </div>
        <div class="col-sm-12">
          <table class="table dashboard">
            <tr>
              <td class="gene-main pl-0">
                <h6 class="card-title mb-3 green">{{'DASHBOARD.GENERATE_CHART_VALID' | translate}}</h6>
                <div class="box" [style]="'--p:' + generateChart.total">{{generateChart.total}}%</div>
              </td>
              <td class="gene-content">
                <div class="row">
                  <div class="col-sm-4">
                    <p class="title">{{'DASHBOARD.GENERATE_CHART_NEW' | translate}}</p>
                    <p class="content">{{generateChart.new_count}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p class="title">{{'DASHBOARD.GENERATE_CHART_PROCESSING' | translate}}</p>
                    <p class="content">{{generateChart.processing}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p class="title">{{'DASHBOARD.GENERATE_CHART_PROCESSED' | translate}}</p>
                    <p class="content">{{generateChart.processed}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p class="title">{{'DASHBOARD.GENERATE_CHART_UNFINISHED' | translate}}</p>
                    <p class="content red">{{generateChart.unfinished}}</p>
                  </div>
                  <div class="col-sm-4">
                    <p class="title">{{'DASHBOARD.GENERATE_CHART_INVALID' | translate}}</p>
                    <p class="content red">{{generateChart.invalid}}</p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Feedback counts by times -->
      <div class="row mt-4">
        <div class="col-sm-5">
          <h6 class="card-title mb-2">{{'DASHBOARD.MAIN_CHART_TITLE' | translate}}</h6>
        </div>
        <div class="col-sm-12">
          <feedbackcount-bytime-report [style]="'height:300px; margin-top:20px;'"
            [filter]="filterData"> 
          </feedbackcount-bytime-report>
        </div>
      </div>

      <div class="row mt-4">
        <!-- Number of feedbacks by surveys -->
        <div class="col-sm-6">
          <div class="title-down">
            <h6 class="card-title mb-0">{{'DASHBOARD.FEEDBACKS_BY_SURVEY_CHART_TITLE' | translate}}</h6>
          </div>
          <feedbackcount-bysurvey-report [style]="'width: 100%; margin-top:20px'" [filter]="filterData"></feedbackcount-bysurvey-report>
        </div>

        <!-- Feedback counts by groups -->
        <div class="col-sm-6">
          <div class="title-down">
            <h6 class="card-title mb-0">{{'DASHBOARD.FEEDBACKS_BY_GORUP_CHART_TITLE' | translate}}</h6>
          </div>
          <feedbackcount-bygroup-report [style]="'width: 100%; margin-top:20px'" [filter]="filterData"></feedbackcount-bygroup-report>
        </div>
      </div>
      
      <!-- Feedback counts by devices -->
      <!-- <feedbackcount-bydevice-report [style]="'width: 500px; margin-top:20px'" [filter]="filterData"></feedbackcount-bydevice-report> -->

      <!-- Object statistics -->
      <div class="row mt-4">
        <!-- Email counts by times -->
        <div class="col-sm-6">
          <div class="title-down">
            <h6 class="card-title mb-0">{{'DASHBOARD.EMAIL_CHART_TITLE' | translate}}</h6>
          </div>
          <emails-bytime-report [style]="'height:300px; margin-top:20px;'"
            [filter]="filterData"> 
          </emails-bytime-report>

        </div>

        <!-- Customer count by times -->
        <div class="col-sm-6">
          <div class="title-down">
            <h6 class="card-title mb-0">{{'DASHBOARD.CUSTOMER_CHART_TITLE' | translate}}</h6>
          </div>
          <customers-bytime-report [style]="'height:300px; margin-top:20px;'"
            [filter]="filterData"> 
          </customers-bytime-report>
        </div>
      </div>


      <div class="row mt-4">
        <!-- Number of feedbacks by surveys -->
        <!-- <div class="col-sm-6">
          <div class="title-down">
            <h6 class="card-title mb-0">{{'DASHBOARD.FEEDBACKS_BY_SURVEY_CHART_TITLE' | translate}}</h6>
          </div>
          <feedbackcount-bysurvey-report [style]="'width: 100%; margin-top:20px'" [filter]="filterData"></feedbackcount-bysurvey-report>
        </div> -->

        <!-- Object counts -->
        <div class="col-sm-3">
          <div class="callout callout-success">
            <small class="text-muted">{{'DASHBOARD.DEVICE_CHART_TITLE' | translate}}</small>
            <br>
            <strong class="h4">{{objectChart.deviceCount}}</strong>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="callout callout-info">
            <small class="text-muted">{{'DASHBOARD.SURVEY_CHART_TITLE' | translate}}</small>
            <br>
            <strong class="h4">{{objectChart.surveyCount}}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
